.leftbar {
    flex: 3;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: sticky;
    /* top: 50px; */
  }
  
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179);
  }

.leftBarWrapper{
    padding: 20px;
    background: linear-gradient(#085467, #AFA7BB, #F4C0B3);

}

.leftbarList{
    padding: 0;
    /* margin: 0; */
    list-style: none;
    margin-top: 10px;
}

.leftbarListItem{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.leftbarIcon{
    margin-right: 15px;
}

.leftbarButton{
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.leftbarHr{
    margin: 20px 0px;
}

.leftbarFrndList{
    padding: 0;
    margin: 0;
    list-style: none;
}

.leftbarFrnd{
    display: flex;
    align-items: center;
    margin-bottom: 13px;
}

.leftbarFrndImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}