.rightbar {
  flex: 3;
}

.rightbarWrapper {
  padding: 20px 20px 0 0;
}

.bdayCont {
  display: flex;
  align-items: center;
}

.bdayImg {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.bdayText {
  font-weight: 300;
  font-size: 15px;
}

.rightbarAd {
  width: 100%;
  border-radius: 10px;
  margin: 30px 0;
}

.rightbarFrndList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.rightbarFrnd{
    display: flex;
    align-items: center;
    margin-bottom: 12px;

}

.rightbarPfP{
    margin-right: 10px;
    position:relative;
}

.rightbarpfpImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.rightbarOnline{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
    top:-2px;
    right: 0;
    border: 2px solid white;
}

.rightbarUsername{
    font-weight: 400;
}



.rightbarTitle {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}

.rightbarInfo{
  margin-bottom: 30px;
  -webkit-box-shadow: -1px -2px 8px 5px rgba(0,0,0,0.62); 
box-shadow: -1px -2px 8px 5px rgba(0,0,0,0.62);
  border-radius: 5px;
   
}

.rightbarInfoItem{
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  padding-left: 10px;
}

.rightbarInfoKey{
  font-weight: 500;
  margin-right: 15px;
  color: #555;
  
}

.rightbarInfoValue{
  font-weight: 300;
}

.rightbarFollowings{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rightbarFollowing{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  cursor: pointer;
}

.rightbarFollowingImg{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.rightbarInfoKeys{
  cursor: pointer;
}